.Pencil{
  margin-top:850px;
  width: 105px;
  height: 105px;
  gap: 0px;
  opacity: 0px;
  
}

.container{
      margin-top:180px;
    width: 1,240px;
  height: 400px;
  display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
}
.userInfo{
  width:1,240px;
  height:400px;
  display: flex; 
  align-items: center; 
  gap: 20px; 
}
.avatar{
  width: 256px;
  height: 256px;
  border-radius: 50%;
opacity: 0px;
border-color:#172A3A ;
background-color: #09BC8A;
;

}
