@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.box {
    margin-top: 40px;
    width: 100%;
    max-width: 1240px;
    height: auto;
    padding: 40px;
    gap: 16px;
    transition: all 0.4s ease;
    background-color: #004346;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box.expanded {
    height: auto;
    padding: 40px;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 32px; 
    font-weight: 800;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

.context {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 24px; 
    font-weight: 400;
    line-height: 40px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    width: 100%;
    color: #D1D5DB;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    text-align: center;
    margin-left: 80%;
}

.Card {
    width: 100%; 
    max-width: 600px;
    height: auto;
    padding: 40px;
    gap: 16px;
    border-radius: 20px;
    color: #fff;
    background-color: #508991;
    box-shadow: 4px 10px #09BC8A;
    border-color: 4px 10px #172A3A;
    margin-right: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    text-align: left;
    color: #FFFFFF;
}

.period {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #D1D5DB;
}

.Skills {
    width: auto;
    height: 27px;
    padding: 0px 8px;
    gap: 10px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
}

.experiences {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
}

.button {
    background-color: #172A3A;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 12px;
    width: 120px;
    height: 58px;
    padding: 12px 0px;
    gap: 10px;
    border-radius: 20px;
}

.icon {
    font-size: 36px;
    margin-bottom: 8px;
    text-align: center;
    margin-left: 45%;
}

.Add {
    width: 100%; 
    max-width: 600px; 
    height: auto;
    padding: 40px;
    gap: 16px;
    border-radius: 20px;
    color: #fff;
    background-color: #508991;
    box-shadow: 4px 10px #09BC8A;
    border-color: 4px 10px #172A3A;
    margin-right: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    font-weight: 700;
    line-height: 37.5px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.popUp {
    position: fixed;
    top: 20%;
    left: 50%;
    font-family: 'Roboto', sans-serif;
    transform: translate(-50%, -20%);
    background-color: #fff;
    padding: 32px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 80%; 
    max-width: 867px;
    height: 50vh;
    max-height: 1049px;
    border-radius: 20px;
    gap: 32px;
    overflow-y: auto;
}

.H3 {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 800;
    line-height: 40px;
}

.input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 16px;
    box-sizing: border-box;
    color: #D1D5DB;
}

.PopuButton {
    margin-top: 20px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    gap: 10px;
}

.ButtonP {
    padding: 10px 20px;
    background-color: #fff;
    border-color: #172A3A;
    color: #172A3A;
    width: 180px; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
}

.ButtonP:hover {
    background-color: #D1D5DB;
    color: #FCFAFA;
    border-color: #D1D5DB;
    box-shadow: none;
}

.ButtonP:active {
    background-color: #3b6269;
}
